@model Library.Domain.Entities.Loan

@{
    ViewData["Title"] = "Loan Details";
}

<h1>Loan Details</h1>

<hr />

<dl class="row">
    <dt class="col-sm-3">Book</dt>
    <dd class="col-sm-9">@Model.Book?.Title</dd>

    <dt class="col-sm-3">Member</dt>
    <dd class="col-sm-9">@Model.Member?.FullName</dd>

    <dt class="col-sm-3">Loan Date</dt>
    <dd class="col-sm-9">@Model.LoanDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Due Date</dt>
    <dd class="col-sm-9">@Model.DueDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Returned Date</dt>
    <dd class="col-sm-9">@(Model.ReturnedDate?.ToShortDateString() ?? "-")</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
